@use '../../../global/style-config/index.scss' as *;

.Container {
  margin: 5em auto;
  width: 90%;
  // height: 100vh;
}

.SectionHeader {
  margin: 0.5em 0;
  font-weight: 600;
  background-color: rgb(21, 63, 31);
  color: white;
  padding: 0.5em 0.5em;
  border-radius: 50px 20em 10px 10px;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  // background-color: aqua;
  // max-height: 32em;
  // overflow: scroll;
  // &::-webkit-scrollbar {
  //   display: none;
  //   background-color: $gray;
  //   height: 3px;
  //   width: 3px;
  //   border-radius: 5px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: $bluish-black;
  //   border-radius: 3px;
  // }
  // &:hover {
  //   cursor: pointer;
  //   background-color: #f8f9f9;
  // }
}

.Card {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  width: 20em;

  .CardBody {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .VacCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5d9; //#eaecee
    padding: 0em 1em;
    width: 7em;
    line-height: 1;
    h2 {
      font-weight: 900;
      font-size: 2.5em;
      padding: 0.3em 0 0 0;
      line-height: 1;
    }
    p {
      // line-height: -1;
      text-align: center;
      font-size: 9pt;
      word-break: break-all;
      // background-color: aqua;
    }
  }

  .DosesContainer {
    display: flex;
    flex-direction: column;
    .Doses {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 105%;

      &:nth-child(1) {
        border-bottom: 1px solid#EAECEE;
      }
      &:nth-child(2) {
        border-top: 1px solid #eaecee;
      }
      padding: 0.3em 1em;
      h6 {
        line-height: 1;
        margin-bottom: 4px;
        font-weight: 500;
      }
      p {
        font-weight: 700;
        font-size: 1.5em;
        margin: 0;
        line-height: 1;
      }
    }
  }
}

// card 2

.Card2 {
  display: flex;
  flex-direction: row;
  margin: 0em 0.7em 1em 0.7em;
  width: 23em;

  .CardBody {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .StatCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaecee;
    padding: 0em 1em;

    h3 {
      font-weight: 650;
      font-size: 16pt;
      padding: 0.3em 0em;
      line-height: 1;
      // color: $blue;
      margin: 0;
    }
  }

  .Stat2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Number {
      font-weight: 700;
      font-size: 30pt;
      padding: 0.3em 0em;
      line-height: 1;
      color: rgb(31, 31, 31);
      margin: 0;
    }

    .Rates {
      line-height: 0;
      padding-top: 0.5em;

      .Active {
        color: $yellow;
        font-size: 11pt;
      }

      .Recov {
        color: $green;
        font-size: 11;
      }

      .Dts {
        color: $red;
        font-size: 11pt;
      }
    }

    .percentage {
      color: rgb(58, 58, 58);
      margin: -0.5em 0 0.5em 0;

      b {
        color: black;
      }
    }
  }
}
