@use '../../../../global/style-config/index.scss' as *;

.form {
  input {
    margin: 0 0 0.5em 0;
  }
}

.Container {
  // background-color: aqua;
  // color: red;
  max-height: 570px;
  // overflow: scroll;
  &::-webkit-scrollbar {
    background-color: $gray;
    height: 7px;
    width: 7px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bluish-black;
    border-radius: 5px;
  }
}
